<h1>Bank Accounts</h1>

<button mat-mini-fab aria-label="add account" (click)="this.ui.setMode('add-account')">
    <mat-icon>add</mat-icon>
</button>
<!-- Edit and Save buttons -->
<button *ngIf="!ui.getEditState()" mat-raised-button (click)="ui.setEdit(true)">Edit</button>
<button *ngIf="ui.getEditState()" mat-raised-button (click)="saveAccts()">Save</button>

<div *ngFor="let account of this.userInput">
    <h2 *ngIf="!ui.getEditState()">{{account.name}} </h2>
    <mat-form-field  *ngIf="ui.getEditState()" appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input name="name" matInput [(ngModel)]="account.name" (keyup)="edit(account.id)">
    </mat-form-field>
    <p *ngIf="!ui.getEditState()">Type: {{account.type}} </p>
    <mat-form-field  *ngIf="ui.getEditState()" appearance="fill">
        <mat-label for="type">Type</mat-label>
        <mat-select name="type" matInput [(ngModel)]="account.type" (selectionChange)="edit(account.id)">
            <mat-option value="checking">Checking</mat-option>
            <mat-option value="savings">Savings</mat-option>
        </mat-select>
    </mat-form-field>
    <p *ngIf="!ui.getEditState()">Beginning Balance: {{account.balance | currency}} </p>
    <mat-form-field  *ngIf="ui.getEditState()" appearance="fill">
        <mat-label for="balance">Beginning Balance</mat-label>
        <input name="balance" matInput [(ngModel)]="account.balance" (keyup)="edit(account.id)">
    </mat-form-field>
</div>