<h1>Dashboard</h1>
<a (click)="this.ui.setMode('transactions')">
    <h2 style="display: block;">View Transactions</h2>
</a>
<a (click)="this.ui.setMode('accounts')">
    <h2>Bank Accounts</h2>
</a>
<button mat-mini-fab aria-label="add account" (click)="this.ui.setMode('add-account')">
    <mat-icon>add</mat-icon>
</button>
<div class="container">
    <mat-card class="example-card" *ngFor="let account of data.getAccounts()">
        <mat-card-content>
            <h3>{{ account.name }} ({{ account.type }})</h3>
            <p>Balance: {{ getAccountBalance(account) | currency }}</p>
            <section>
                <mat-progress-bar #self mode="determinate" value="{{100*getAccountBalance(account)/account.balance}}"
                    color="{{getMeterColor(self.value)}}">
                </mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
</div>
<a (click)="this.ui.setMode('budgets')">
    <h2>Budgets</h2>
</a>
<button mat-mini-fab aria-label="add budget" (click)="this.ui.setMode('add-budget')">
    <mat-icon>add</mat-icon>
</button>
<div class="container">
    <mat-card class="example-card" *ngFor="let budget of this.data.getBudgets()">
        <mat-card-content>
            <h3>{{ budget.name }}</h3>
            <p>Balance: {{ this.getBudgetBalance(budget) | currency }}</p>
            <section>
                <mat-progress-bar #self mode="determinate" value="{{100*this.getBudgetBalance(budget)/budget.total}}"
                    color="{{getMeterColor(self.value)}}">
                </mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
</div>