<h1>Transactions</h1>

<button mat-mini-fab color="accent" aria-label="add transaction" (click)="this.ui.setMode('add-transaction')">
    <mat-icon>add</mat-icon>
</button>
<button (click)="this.data.autoAssign()">Auto-assign missing budgets</button>
<button (click)="this.generateCsv()">Export to .csv</button>
<table mat-table [dataSource]="this.sortData(this.filterTransactions())" class="mat-elevation-z8" matSort (matSortChange)="setSort($event)">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-sort-header="id" mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="destination">
        <th mat-sort-header="destination" mat-header-cell *matHeaderCellDef>Destination
            <button mat-icon-button aria-label="destination filter" [matMenuTriggerFor]="menu">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="destinationFilter">Filter</mat-label>
                    <mat-select name="destinationFilter" [(ngModel)]="this.filters.destination">
                        <mat-option value="">-- no filter --</mat-option>
                        <mat-option *ngFor="let destination of this.data.getDestinations()" value="{{destination}}">
                            {{destination}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-sort-header="amount" mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- Budget Column -->
    <ng-container matColumnDef="budget">
        <th  mat-sort-header="budget" mat-header-cell *matHeaderCellDef>Budget
            <button mat-icon-button aria-label="destination filter" [matMenuTriggerFor]="menu">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="bFilter">Filter</mat-label>
                    <mat-select name="bFilter" [(ngModel)]="this.filters.budget">
                        <mat-option value="">-- no filter --</mat-option>
                        <mat-option *ngFor="let budget of this.data.getBudgets()" value="{{budget.id}}">
                            {{budget.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{this.getBudgetName(element.budget)}} </td>
    </ng-container>

    <!-- Account Column -->
    <ng-container matColumnDef="account">
        <th mat-sort-header="account" mat-header-cell *matHeaderCellDef>Account
            <button mat-icon-button aria-label="destination filter" [matMenuTriggerFor]="menu">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="aFilter">Filter</mat-label>
                    <mat-select name="aFilter" [(ngModel)]="this.filters.account">
                        <mat-option value="">-- no filter --</mat-option>
                        <mat-option *ngFor="let account of this.data.getAccounts()" value="{{account.id}}">
                            {{account.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{this.getAccountName(element.account)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>