<h1>Transactions</h1>
<!-- Add Transaction button-->
<button mat-mini-fab aria-label="add transaction" (click)="ui.setMode('add-transaction')">
    <mat-icon>add</mat-icon>
</button>
<!-- Autofill and CSV export buttons-->
<button mat-raised-button (click)="data.autoAssign()">Auto-fill missing budgets</button>
<button mat-raised-button (click)="generateCsv()">Export to .csv</button>
<!-- Edit and Save buttons -->
<button *ngIf="!ui.getEditState()" mat-raised-button (click)="ui.setEdit(true)">Edit</button>
<button *ngIf="ui.getEditState()" mat-raised-button (click)="saveTrans()">Save</button>

<table mat-table [dataSource]="sortData(filterTransactions())" class="mat-elevation-z8" matSort
    (matSortChange)="setSort($event)">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-sort-header="id" mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> 
            <span *ngIf="!ui.getEditState()">{{element.id}}</span>
            <button *ngIf="ui.getEditState()" mat-icon-button aria-label="delete transaction"
             color="warn" (click)="data.deleteTrans(element.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Destination Column -->
    <ng-container matColumnDef="destination">
        <th mat-sort-header="destination" mat-header-cell *matHeaderCellDef>Destination
            <!-- Filter Button -->
            <button mat-icon-button aria-label="destination filter" [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="destinationFilter">Filter</mat-label>
                    <mat-select name="destinationFilter" [(ngModel)]="filters.destination">
                        <mat-option>-- no filter --</mat-option>
                        <mat-option *ngFor="let destination of data.getDestinations()" value="{{destination}}">
                            {{destination}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-sort-header="amount" mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element">
            <!-- Becomes editable when button is pressed -->
            <span *ngIf="!ui.getEditState()">{{element.amount | currency}}</span>
            <input *ngIf="ui.getEditState()" name="amount" matInput type="number" [(ngModel)]="element.amount"
                [value]="element.amount" (keyup)="edit(element.id)">
        </td>
    </ng-container>

    <!-- Budget Column -->
    <ng-container matColumnDef="budget">
        <th mat-sort-header="budget" mat-header-cell *matHeaderCellDef>Budget
            <!-- Filter Button -->
            <button mat-icon-button aria-label="destination filter" [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="bFilter">Filter</mat-label>
                    <mat-select name="bFilter" [(ngModel)]="filters.budget">
                        <mat-option>-- no filter --</mat-option>
                        <mat-option *ngFor="let budget of data.getBudgets()" value="{{budget.id}}">
                            {{budget.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element">
            <span *ngIf="!ui.getEditState()">{{getBudgetName(element.budget)}}</span> 
            <mat-select  *ngIf="ui.getEditState()" name="budget" [(ngModel)]="element.budget" (selectionChange)="edit(element.id)">
                <mat-option [value]=null>None</mat-option>
                <mat-option *ngFor="let budget of data.getBudgets()" [value]="budget.id">{{budget.name}}</mat-option>
            </mat-select>
        </td>
    </ng-container>

    <!-- Account Column -->
    <ng-container matColumnDef="account">
        <th mat-sort-header="account" mat-header-cell *matHeaderCellDef>Account
            <!-- Filter Button -->
            <button mat-icon-button aria-label="destination filter" [matMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-form-field appearance="fill">
                    <mat-label for="aFilter">Filter</mat-label>
                    <mat-select name="aFilter" [(ngModel)]="filters.account">
                        <mat-option>-- no filter --</mat-option>
                        <mat-option *ngFor="let account of data.getAccounts()" value="{{account.id}}">
                            {{account.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element"> {{getAccountName(element.account)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>